<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<script src="promise.js"></script>
<script>
  var container = container()
  // 添加处理函数
  container.add(function (name) {
    console.log("hello container" + name)
  })

  container.fire("max")
  // 异步操作
  //resolve("请求成功");
  //reject("请求失败")
  // //function a(message) {
  //   console.log(message)
  // }

  // 语法糖的封装
  /* var state = Promise()
     state.resolve()
     return state.promise() // state.resolve reject
   */
  Promise()
</script>
</body>
</html>
