        /* 重置默认样式 */
        *,
        *::before,
        *::after {
            margin: 0;
            padding: 0;
            box-sizing: border-box;

            /* 清除高亮 */
            -webkit-tap-highlight-color: transparent;

        }

        body {
            font-family: "Micrisoft YaHei";
        }

        ul,
        ol {
            list-style: none;
        }

        a {
            text-decoration: none;
        }

        input {
            border: none;
            outline: none;

            /* 除去默认样式 */
            appearance: none;
            -webkit-appearance: none;

        }

        .form-control:focus {
            border-color: green;
            outline: 0;
            -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 233, 141, 0.6);
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(55, 207, 136, 0.6)
        }





        /* 快捷 */


        .ver_m10 {
            margin: 0 auto;
        }

        .m_top {

            margin-top: 200px;
        }

        .m_top10 {
            margin-top: 10%;
        }

        .m_top20 {
            margin-top: 20%;
        }

        .m_top30 {
            margin-top: 30%;
        }

        .m_top40 {
            margin-top: 40%;
        }

        /* input {
            border: #857e47 2px solid;
            min-width: 120px;


            width: 100%;
            height: 40px;

            border-radius: 10px;
        } */

        .dp_none {

            display: none !important;

        }

        .xy_center {
            position: absolute;

            margin: auto;
            right: 0;
            left: 0;
            top: 0;
            bottom: 0;
        }

        .div_x_center {
            margin: 0 auto;
        }


        .x_center {
            text-align: center;
        }

        .fontcss1 {
            font-weight: bold;
            font-size: 25px;
            text-align: center;

        }

        .btn_1 {
            display: inline-block;
            width: 20%;
            height: 50px;
            border: gainsboro 4px solid;
            background-color: white;

            border-radius: 15px;

        }

        .btn_al {
            margin: 15px auto;

            width: 20%;
            height: 50px;
            border: #857e47 4px solid;
            background-color: #857e47;

            border-radius: 15px;

        }

        .dp_bl {
            display: inline-block;

        }

        .wid_10 {
            width: 10%;
        }

        .wid_20 {
            width: 20%;
        }

        .wid_30 {
            width: 30%;
        }

        .wid_40 {
            width: 40%;
        }


        .ps_ab {
            position: absolute;
        }








        /* 外层div */



        .app {
            position: relative;

            margin: 0 auto;
            /* min-width: 320px; */
            max-width: 640px;
            width: 100%;
            height: 100%;
            /* background-color: #b9c484; */
            /* background-image: url("../images/资源 1.svg");
            background-repeat: no-repeat;
            background-position: 50% 5%;
            background-size: 100px; */

        }


        .RL_indiv {
            position: absolute;


            margin: auto;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            /* background-color: #adb878; */
        }


        /* 选择 */

        .RL_page1 {

            text-align: center;
        }

        .RL_page1 div {
            display: inline-block;

            margin: 0 20px;
            margin-top: 50%;
            width: 22%;
            height: 50px;

            line-height: 50px;

            border-radius: 15px;
        }

        .RL_page1 :first-child {
            background-color: #c4df3a;
        }

        .RL_page1 :last-child {

            background-color: #857e47;
        }



























        /* 登录 */





        /* 注册 --------------*/


        .RL_page2 {
            margin-top: 100px;
        }


        .phone_register {
            width: 80%;
            max-width: 400px;
            height: 40px;



        }

        .phone_register input {
            display: inline-block;

            width: 100%;
            height: 100%;

            border-radius: 10px;

        }

        /* 手机注册滑动验证 */


        .test_drag {
            position: relative;

            height: 40px;
            background-color: white;

            line-height: 40px;
        }

        .test_bg {
            position: absolute;

            width: 0px;
            height: 100%;
            background-color: #afd2bf;


        }

        .test_text {
            position: absolute;

            width: 100%;
            height: 100%;
            color:  #8d999f;


            text-align: center;

            user-select: none;
        }

        .test_btn {
            position: absolute;

            width: 40px;
            height: 40px;
            border: 1px solid #afd2bf;
            background-color: #fff;

            color: #afd2bf;
            font-weight: bolder;
            text-align: center;
            line-height: 38px;

            user-select: none;
            cursor: move;
        }



        /* 手机验证码 */

        .register_CAPTCHA {
            width: 80%;
            max-width: 400px;
        }

        .register_CAPTCHA input {
            display: inline-block;

            width: 50%;
            min-width: 60px;
            height: 40px;

            border-radius: 10px;

        }

        .register_CAPTCHA .sent {
            display: inline-block;

            width: 100px;
            height: 100%;
            background-color: #857e47;

            line-height: 40px;

            vertical-align: middle;
            text-align: center;

            border-radius: 10px;
            cursor: pointer;

        }

        /* 手机密码 */


        .register_password {
            width: 80%;
            max-width: 400px;
        }

        .register_password input {
            display: inline-block;

            width: 100%;
            height: 40px;

            border-radius: 10px;

        }

        /* 接受协议 */

        .register_accept {
            width: 80%;
            max-width: 400px;
            height: 40px;
        }

        .register_accept>div:first-child {
            display: inline-block;

            width: 10px;
            height: 10px;
            background-color: white;
            border-radius: 4px;
        }

        .register_accept :last-child {
            display: inline-block;

            height: 10px;
            border-radius: 4px;
        }

        .register_accept :last-child {
            font-size: 12px;
        }

        .register_accept a:link {
            color: #d36f16;
        }

        .register_accept a:visited {
            color: #d36f16;
        }



        /* 选择身份 */

        .register_select {

            text-align: center;
        }


        .user {
            display: inline-block;

            background-color: white;
            width: 15%;

            border-radius: 5px;

        }


        .driver {
            display: inline-block;

            background-color: white;
            width: 15%;

            border-radius: 5px;

        }



        /* 注册下一步btn */

        .register_next {
            width: 15%;
            min-width: 60px;
            height: 40px;
            background-color: #857e47;
            text-align: center;

            font-weight: bold;
            text-align: center;
            line-height: 40px;

            border-radius: 10px;
        }



        /* 提示 */
        .register_tip {
            display: block;

            margin: 0 auto;
            padding: 10px 0;

            font-size: 12px;

            text-align: center;


        }











        /* 上传身份证 */

        .upload_pic {
            position: relative;

            width: 65%;
            height: 20%;
            min-height: 110px;
            max-height: 110px;
            overflow: hidden;

            font-size: 20px;

            border: #857e47 10px dashed;
        }

        .upload_pic input {
            display: none;
        }




        /* 个人信息 */



        .PI_msg .pic {

            margin: 0 auto;
            margin-top: 10%;
            width: 100px;
            height: 100px;
            /* background-color: rgb(121, 146, 121); */
            overflow: hidden;
            border: gray 2px dashed;

            text-align: center;
            border-radius: 50%;



        }



        .square {
            width: 200px;
            height: 200px;
            background-color: aliceblue;
            border: black 2px dashed;
        }



        









        /* bb--------------------------------------------- */

        .row .col-md-3 img {
            width: 100px;
        }





























